<!DOCTYPE html>
<html>
<head>
    <title>GAME</title>
</head>
<body>
    <form action="/madlib" method="GET">
        Enter a person's name: <input type="text" name="person_name"> <br>

        Color
         <select name="color">
                <option value = "purple"> Purple </option>
                <option value = "blue"> Blue </option>
                <option value = "red"> Red </option>
            </select><br>

        Noun: <input type= "text" name="noun"> <br>

        Adjective: <input type="text" name="adj"> <br>

        <p> Continue Your Story </p>   
            <div>
                <textarea name="story"> </textarea>
            </div>

         <input type="submit">
    </form>
</body>
</html>